 .title-script {
    color:#613d28;
    width: 70%;
    margin: 40 auto;
    padding: 5px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 35px;
}

.script-text {

	text-align: center;
}